* {
  box-sizing: border-box;
}
body {
  background-color: aqua;
  line-height: 1.5px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  margin-bottom: 10px;
  font-size: 5em;
  gap: 16px;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  margin-top: 70px;
  margin-bottom: 60px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-1 {
  margin-right: 16px;
  margin-top: 10px;
  font-size: 1em;
  padding: 10px 20px;
}
.btn-2 {
  margin-left: 16px;
  margin-top: 10px;
  font-size: 1em;
  padding: 10px 20px;
}
.btn-3 {
  margin-left: 16px;
  margin-top: 10px;
  font-size: 1em;
  padding: 10px 20px;
}
.timertext {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
