* {
  box-sizing: border-box;
}
body {
  background-color: greenyellow;
  line-height: 1.5px;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  margin-top: 40px;
  margin-bottom: 60px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-1 {
  margin-right: 16px;

  font-size: 1em;
  padding: 10px 20px;
}
.btn-2 {
  margin-left: 16px;

  font-size: 1em;
  padding: 10px 20px;
}
.btn-3 {
  margin-left: 16px;

  font-size: 1em;
  padding: 10px 20px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.border {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  padding: 14px;
  position: absolute;
  width: 60%;
}
